In [100]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
plt.style.use('ggplot')

In [101]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.feature_selection import SelectFromModel
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_curve, auc

In [115]:
df = pd.read_csv(r'C:\Users\Preetha Ghosh\Desktop\Mopitt.csv')

In [116]:
df.head()

   # Latitude   Longitude  RetrievedSurfaceTemperature    COTotalColumn
0    -77.7472     43.1307                       205.592    8.270000e+17
1    -77.8375     44.1249                       205.339    8.200000e+17
2    -77.9242     45.1334                       205.950    6.830000e+17
3    -78.0073     46.1582                       206.171    6.220000e+17
4    -78.1851     42.0651                       204.809    7.600000e+17

In [117]:
df.info

<bound method DataFrame.info of         # Latitude   Longitude  RetrievedSurfaceTemperature    COTotalColumn
0         -77.7472     43.1307                       205.592    8.270000e+17
1         -77.8375     44.1249                       205.339    8.200000e+17
2         -77.9242     45.1334                       205.950    6.830000e+17
3         -78.0073     46.1582                       206.171    6.220000e+17
4         -78.1851     42.0651                       204.809    7.600000e+17
...            ...         ...                           ...             ...
240725     62.2902    175.7190                       256.627    2.070000e+18
240726     61.8260    174.4450                       266.554    1.660000e+18
240727     62.0171    174.5830                       259.455    1.900000e+18
240728     62.2078    174.7240                       258.108    1.960000e+18
240729     62.3987    174.8670                       255.769    1.930000e+18

[240730 rows x 4 columns]>

In [118]:
df.shape

(240730, 4)

In [119]:
list(df.columns.values)

['# Latitude', ' Longitude', 'RetrievedSurfaceTemperature ', ' COTotalColumn']

In [120]:
y = df[' COTotalColumn']
X = df.drop(['RetrievedSurfaceTemperature ',' COTotalColumn'], axis = 1)

In [121]:
X

        # Latitude   Longitude
0         -77.7472     43.1307
1         -77.8375     44.1249
2         -77.9242     45.1334
3         -78.0073     46.1582
4         -78.1851     42.0651
...            ...         ...
240725     62.2902    175.7190
240726     61.8260    174.4450
240727     62.0171    174.5830
240728     62.2078    174.7240
240729     62.3987    174.8670

[240730 rows x 2 columns]

In [122]:
y

0         8.270000e+17
1         8.200000e+17
2         6.830000e+17
3         6.220000e+17
4         7.600000e+17
              ...
240725    2.070000e+18
240726    1.660000e+18
240727    1.900000e+18
240728    1.960000e+18
240729    1.930000e+18
Name:  COTotalColumn, Length: 240730, dtype: float64

In [123]:
avg_y = df[' COTotalColumn'].mean()
print(avg_y)

1.589332247746309e+18

In [124]:
# for i in range(len(y)):
#     if y[i] < avg_y:
#         y[i] = 0
#     else:
#         y[i] = 1
y = np.where(y<avg_y, 0,1)

In [125]:
np.count_nonzero(y)

124685

In [127]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=21, stratify=y)

In [129]:
# Decision tree algorithm
accuracy_lst=[]

# Instantiate dt_entropy, set 'entropy' as the information criterion
dt_entropy = DecisionTreeClassifier(max_depth=8, criterion='entropy', random_state=1)


# Fit dt_entropy to the training set
dt_entropy.fit(X_train, y_train)

# Use dt_entropy to predict test set labels
y_pred= dt_entropy.predict(X_test)

# Evaluate accuracy_entropy
accuracy_entropy = accuracy_score(y_test, y_pred)


# Print accuracy_entropy
print('[Decision Tree -- entropy] accuracy_score: {:.3f}.'.format(accuracy_entropy))



# Instantiate dt_gini, set 'gini' as the information criterion
dt_gini = DecisionTreeClassifier(max_depth=8, criterion='gini', random_state=1)


# Fit dt_entropy to the training set
dt_gini.fit(X_train, y_train)

# Use dt_entropy to predict test set labels
y_pred= dt_gini.predict(X_test)

# Evaluate accuracy_entropy
accuracy_gini = accuracy_score(y_test, y_pred)

# Append to the accuracy list
acc=accuracy_gini
accuracy_lst.append(acc)

# Print accuracy_gini
print('[Decision Tree -- gini] accuracy_score: {:.3f}.'.format(accuracy_gini))

[Decision Tree -- entropy] accuracy_score: 0.945.
[Decision Tree -- gini] accuracy_score: 0.951.