In [78]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
plt.style.use('ggplot')

In [144]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [132]:
df = pd.read_csv(r'C:\Users\Preetha Ghosh\Desktop\Mopitt.csv')

In [81]:
df.head()

    Latitude   Longitude  RetrievedSurfaceTemperature    COTotalColumn
0   -30.5682     149.126                       324.259    2.020000e+18
1   -30.1267     149.225                       330.001    2.040000e+18
2   -29.9055     149.274                       330.100    1.900000e+18
3   -30.6806     149.666                       325.250    1.950000e+18
4   -30.4660     149.713                       324.436    1.820000e+18

In [82]:
df.info

<bound method DataFrame.info of          Latitude   Longitude  RetrievedSurfaceTemperature    COTotalColumn
0        -30.5682    149.1260                       324.259    2.020000e+18
1        -30.1267    149.2250                       330.001    2.040000e+18
2        -29.9055    149.2740                       330.100    1.900000e+18
3        -30.6806    149.6660                       325.250    1.950000e+18
4        -30.4660    149.7130                       324.436    1.820000e+18
...           ...         ...                           ...             ...
228312    43.1370    -25.8634                       287.214    1.930000e+18
228313    43.1947    -25.5363                       286.587    1.950000e+18
228314    43.5884    -26.2866                       286.910    2.070000e+18
228315    43.3749    -26.2392                       286.800    2.070000e+18
228316    43.1610    -26.1921                       287.051    2.010000e+18

[228317 rows x 4 columns]>

In [83]:
df.shape

(228317, 4)

In [90]:
list(df.columns.values)

[' Latitude', ' Longitude', 'RetrievedSurfaceTemperature ', ' COTotalColumn']

In [136]:
y = df[' COTotalColumn']
X = df.drop(['RetrievedSurfaceTemperature ',' COTotalColumn'], axis = 1)

In [137]:
X

         Latitude   Longitude
0        -30.5682    149.1260
1        -30.1267    149.2250
2        -29.9055    149.2740
3        -30.6806    149.6660
4        -30.4660    149.7130
...           ...         ...
228312    43.1370    -25.8634
228313    43.1947    -25.5363
228314    43.5884    -26.2866
228315    43.3749    -26.2392
228316    43.1610    -26.1921

[228317 rows x 2 columns]

In [138]:
y

0         2.020000e+18
1         2.040000e+18
2         1.900000e+18
3         1.950000e+18
4         1.820000e+18
              ...
228312    1.930000e+18
228313    1.950000e+18
228314    2.070000e+18
228315    2.070000e+18
228316    2.010000e+18
Name:  COTotalColumn, Length: 228317, dtype: float64

In [139]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=9)

In [140]:
lin_reg_mod = LinearRegression()

In [141]:
lin_reg_mod.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [142]:
pred = lin_reg_mod.predict(X_test)

In [143]:
print(y_test[:15],pred[:15])

158855    1.440000e+18
58098     1.440000e+18
42468     2.080000e+18
1173      1.040000e+18
89317     2.080000e+18
66060     1.390000e+18
71603     1.270000e+18
78393     1.800000e+18
94596     9.740000e+17
115631    1.860000e+18
144654    2.500000e+18
6900      1.410000e+18
150373    1.740000e+18
118384    2.090000e+18
180357    1.800000e+18
Name:  COTotalColumn, dtype: float64 [1.50611728e+18 1.59176730e+18 2.33178962e+18 1.11896674e+18
 2.33529605e+18 1.39105135e+18 1.47096414e+18 1.68702300e+18
 9.77698013e+17 1.86309072e+18 1.71848917e+18 1.34139120e+18
 1.74987050e+18 2.35018395e+18 1.86299745e+18]

In [133]:
test_set_rmse = (np.sqrt(mean_squared_error(y_test, pred)))
test_set_r2 = r2_score(y_test, pred)

In [134]:
test_set_rmse

3.747950358101053e+17

In [135]:
test_set_r2

0.6285336658680047